.container {
  height: 300px;
  width: 300px;
  background-color: rgb(71, 88, 88);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
}

#heady {
  height: 300px;
  background-color: rgb(7, 131, 63);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: end;
}

.kid {
  background-color: rgb(234, 238, 242);
  height: 45px;
  width: 45px;
}

#paris {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end {
  height: 250px;
  width: 250;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

#shushu {
  background-color: bisque;
}

div.stick {
  position: sticky;
  top: 20px;
  background-color: beige;
}

#mid {
  background-color: beige;
}
